WebServicesSOAP/Connected Services/ServiceReferenceCliente/WebServiceSOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Cliente">
        <s:complexType />
      </s:element>
      <s:element name="ClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClienteResult" type="tns:ArrayOfClientes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClientes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clientes" nillable="true" type="tns:clientes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clientes">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nif" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClienteSoapIn">
    <wsdl:part name="parameters" element="tns:Cliente" />
  </wsdl:message>
  <wsdl:message name="ClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSOAPSoap">
    <wsdl:operation name="Cliente">
      <wsdl:input message="tns:ClienteSoapIn" />
      <wsdl:output message="tns:ClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSOAPSoap" type="tns:WebServiceSOAPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Cliente">
      <soap:operation soapAction="http://tempuri.org/Cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSOAPSoap12" type="tns:WebServiceSOAPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Cliente">
      <soap12:operation soapAction="http://tempuri.org/Cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceSOAP">
    <wsdl:port name="WebServiceSOAPSoap" binding="tns:WebServiceSOAPSoap">
      <soap:address location="http://localhost:51265/WebServiceSOAP.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSOAPSoap12" binding="tns:WebServiceSOAPSoap12">
      <soap12:address location="http://localhost:51265/WebServiceSOAP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>